.recommendations-container {
  margin-top: 30px;
  padding: 20px;
  background: $venus;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h3 {
    color: $gun-powder;
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    padding: 10px;
    background: $mischka;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }

  li p {
    font-weight: bold;
    color: $scorpion;
  }

  li span {
    color: $waterloo-;
  }
}
