$gun-powder: #42455f;
$soft-amber: #cec0b6;
$waterloo: #807f96;
$santas-gray: #a0a1b5;
$empress: #7b6f73;
$scorpion: #675962;
$mischka: #e0dde4;
$venus: #998a90;
$coffee: #766454;

body {
  font-family: 'Poppins', sans-serif;
  background-color: $mischka;
  color: $gun-powder;
}
